/Tecnologias/learn/**
/Tecnologias/learn/Python-Data-Science-and-Machine-Learning-Bootcamp/
/Tecnologias/learn/
/Tecnologias/Python-para-DataScience-e-Machine-Learning-Apostias/
/Tecnologias/Python-para-DataScience-e-Machine-Learning-Apostias/**
.ipynb_checkpoints/
